@import "./utils/colors.scss";

.output-container {
  border-radius: inherit;
  background-color: white;
  padding: 0rem 1.5rem;
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 0.25rem;

  .icon-container {
    position: absolute;
    top: 0.5rem;
    left: 0.75rem;
    span.icon {
      display: inline-block;
      border-radius: 99999999px;
      background-color: #cecece;
      opacity: 0.4;
      width: 0.75rem;
      height: 0.75rem;
      margin-right: 0.25rem;
      &:last-of-type {
        margin-right: 0rem;
      }
    }
  }

  small,
  p {
    display: block;
    text-align: right;
    margin: 0.5rem 0rem;
  }
  small.previous {
    font-size: 0.85rem;
    color: hsla(0, 0, 78, 1);
    height: 1rem;
  }
  p.result {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
