@import "./utils/colors.scss";

.output-container {
  border-radius: inherit;
  background-color: white;
  padding: 0.5rem 1.5rem;
  position: relative;

  .icon-container {
    position: absolute;
    span.icon {
      display: inline-block;
      border-radius: 99999999px;
      background-color: #cecece;
      opacity: 0.4;
      width: 0.75rem;
      height: 0.75rem;
      margin-right: 0.25rem;
      &:last-of-type {
        margin-right: 0rem;
      }
    }
  }

  small,
  p {
    display: block;
    text-align: right;
  }
  small.previous {
    font-size: 0.85rem;
    color: var(--colors-gray);
  }
  p.result {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
