@import-normalize;
@import "./styles/utils/colors.scss";
@import "./styles/utils/font.scss";
@import "./styles/utils/utilities.scss";
@import "./styles/CalcMain.scss";
@import "./styles/OutputContainer.scss";

:root {
  --color-black: hsla(0, 0, 10, 1);
  --color-gray: hsla(0, 0, 50, 1);
  --color-gray-lightest: hsla(0, 0, 78, 1);
}
